---
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';

interface Props {
  lang?: string;
  title?: string;
  description?: string;
}

const { lang = 'en', title, description } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MW9HZSQD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
  }
</style>
